@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.App {
  background-color: rgb(2, 195, 154);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.Logo {
  font-family: Acme, sans-serif;
  font-size: 4em;
}
